<div class="container-fluid">
  <div class="row a">
    <div class="col-12 col-md-5 order-md-7 col-lg-6 a2"></div>

    <div class="col-12 col-md-7 order-md-5 col-lg-6 a1">
      <p class="titulo">Obten hasta $4,522<sup>*</sup>de credito por tu ipad para comprar uno nuevo</p>
      <p class="sub">Una razon mas para decidirte a cambir tu iPad hoy mismo</p>
      <a class="liga" href="https://www.apple.com/mx/ipad/trade-up/">Mas informacion></a>
    </div>
  </div>
  <div class="row b">
    
    <div class="col-12 col-md-5 order-md-7 col-lg-6 b2">
      <p class="titulo2">Realidad aumentada</p>
      <p class="sub2">Un nuevo mundo a tu alrededor</p>
      <p class="parrafo">Transforma tu manera de trabajar, aprender, jugar y conectarte con el mundo que te rodea. El iPad está listo para la nueva generación de apps de realidad aumentada.</p>
      <a class="liga2" href="https://www.apple.com/mx/ios/augmented-reality/">Mas informacion></a>
    </div>
    <div class="col-12 col-md-7 order-md-5 col-lg-6 b1"></div>
  </div>
  <div class="row c">
    <div class="row c1">
      <div class="col-12 col-md-10 col-lg-7">
        <p class="titulo3">Haz aún más en el iPad con iOS 11.</p>
        <p class="parrafo3">Échale un vistazo a estos videos cortos que muestran cómo tu iPad y tú pueden hacer aún más con iOS 11. Descubre consejos útiles sobre cómo usar el nuevo Dock, la optimizada funcionalidad multitarea, la práctica app Archivos y más.</p>
        <a class="liga3" href="https://www.apple.com/mx/ipad-pro/how-to/">Ver los videos></a>
      </div>
      <div class="col-12 col-md-2 col-lg-5 c12"></div>
    </div>
  </div>
  <div class="row d">
    <div class="row d1">
      <div class="col-12">
        <p class="titulo4">Accesorios para el iPad</p>
        <p class="parrafo4">Los mejores accesorios para aprovechar el iPad al máximo.</p>
        <a class="liga4" href="https://www.apple.com/mx/shop/ipad/ipad-accessories">Comprar accesorios para el iPad></a>
      </div>
    </div>
  </div>
</div>
