<div class="container-fluid fondito">
  <div id="barra_iphone" class="row justify-content-center flex-nowrap overflow">

    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphonex_large.svg" alt="ipadpro_light_large">
        <p class="nombre_item">{{barra_iphone.item1}}</p>
        <p class="nuevo">{{nuevo}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone8_large.svg" alt="ipad_large">
        <p class="nombre_item">{{barra_iphone.item2}}</p>
        <p class="nuevo">{{nuevo}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone7_large.svg" alt="ipadmini_large">
        <p class="nombre_item">{{barra_iphone.item3}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone7_large.svg" alt="ipad_ios10_large">
        <p class="nombre_item">{{barra_iphone.item4}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphonese_large.svg" alt="ipad_acc_large">
        <p class="nombre_item">{{barra_iphone.item5}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone_ios_large.svg" alt="ipad_comp_large">
        <p class="nombre_item">{{barra_iphone.item6}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone_acc_large.svg" alt="ipad_comp_large">
        <p class="nombre_item">{{barra_iphone.item7}}</p>
      </a>
    </div>
    <div class="col-auto text-center d-inline-block">
      <a class="ligas" href="#">
        <img src="../../assets/img/iphoneBar/iphone_comp_large.svg" alt="ipad_comp_large">
        <p class="nombre_item">{{barra_iphone.item8}}</p>
      </a>
    </div>
    <button id="boton_der_iphone" class="boton_der">&lt;</button>
    <button id="boton_izq_iphone" class="boton_izq">&gt;</button>
  </div>
</div>
