<div class="container-fluid">
  <div class="row pos_relative justify-content-center">

    <div class="col-sm-5 col-12 contenido_ultima_imagen_iphone mt-5">
      <h1 class="text-white titulo_imagen_iphone_last">{{titulo_imagen_iphone_last}}</h1>
      <a class="texto_imagen_iphone_last text-white" href="#">
        <p>{{texto_imagen_iphone_last_1}}
          <span>&gt;</span>
        </p>
      </a>
      <a class="texto_imagen_iphone_last text-white" href="#">
        <p>{{texto_imagen_iphone_last_2}}
          <span>&gt;</span>
        </p>
      </a>
    </div>
    <div class="col-12 ultima_imagen_iphone"></div>

  </div>
</div>
