<!--Primera parte de Ipad by Jorge Resendiz Sanchez-->


<div class="container fluid">
    <div class="container justify-content">
        <div class="row">
  <div  class="col-12 col-md-12 col-lg-12 Ipad1">
        <div class="row d-flex justify-content-center">
                <div  class="col-12 col-md-12 col-lg-12 Ipad1">
         <div class=" d-flex justify-content-center">iPad</div>   <br>
         <div class=" d-flex justify-content-center"> Es como una computadora, </div>  <br>
         <div class=" d-flex justify-content-center">  pero como ninguna otra computadora. </div><br>
            </div>    
        </div>
        <div class="row  d-flex justify-content-center">
                <div  class="col-12 col-md-12 col-lg-12">
              <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href="">  Comprar ></a></div>
           
        </div>
        </div>
        <div class="row  d-flex justify-content-center">
                <div  class="col-12 col-md-12 col-lg-12 d-flex justify-content-center">
            <a href=""><picture class="d-flex justify-content-center">
                <source srcset="../../assets/ImagenesIpad1parte/Ipad1_1chico.jpg" media="(max-width: 710px)">
                    <source  srcset="../../assets/ImagenesIpad1parte/Ipad1_2Mediana.png" media="(min-width: 710px) and (max-width: 1000px)">
                <source srcset="../../assets/ImagenesIpad1parte/Ipad1.jpg">
                <img src="../../assets/ImagenesIpad1parte/Ipad1.jpg">
              </picture></a>

        </div>
    </div>
  </div>
</div>
</div>



        <div class="container justify-content">
            <div class="row">
                <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                        <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                                <div class="row d-flex justify-content-center">
                                        <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                                 <div class=" d-flex justify-content-center">iPad</div>   <br>
                                 <div class=" d-flex justify-content-center"> Es como una computadora, </div>  <br>
                                 <div class=" d-flex justify-content-center">  pero como ninguna otra computadora. </div><br>
                                    </div>    
                                </div>
                                <div class="row  d-flex justify-content-center">
                                        <div  class="col-12 col-md-12 col-lg-12">
                                      <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href="">  Comprar ></a></div>
                                   
                                </div>
                                </div>
                <div class="row d-flex justify-content-center">
                        <a href=""><picture class="d-flex justify-content-center ">
                                <source srcset="../../assets/ImagenesIpad1parte/Ipad2_2.jpg" media="(max-width: 710px)">
                                    <source  srcset="../../assets/ImagenesIpad1parte/Ipad2_1.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                <source srcset="../../assets/ImagenesIpad1parte/Ipad2.jpg">
                                <img src="../../assets/ImagenesIpad1parte/Ipad2.jpg">
                              </picture></a>
                        
                </div>
</div>
</div>
</div>

<div class="row">

   
                    
                            <div class="col-md-6">
                              <div class="container">
                                   <div>
                                            <a href=""><picture class=" ">
                                                    <source srcset="../../assets/ImagenesIpad1parte/Ipad3_2Chica.jpg" media="(max-width: 710px)">
                                                        <source  srcset="../../assets/ImagenesIpad1parte/Ipad3_1Chica.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                                    <source srcset="../../assets/ImagenesIpad1parte/Ipad3.jpg">
                                                    <img src="../../assets/ImagenesIpad1parte/Ipad3.jpg">
                                                </picture></a>
                                   </div>
                              </div> 
                        </div>           
                    
                  
                    <div class="col-md-6 ">
                            <div class="container">
                                <a href=""><picture class=" ">
                                        <source srcset="../../assets/ImagenesIpad1parte/Ipad3_3Lap.jpg" media="(max-width: 710px)">
                                            <source  srcset="../../assets/ImagenesIpad1parte/Ipad3_2Lap.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                        <source srcset="../../assets/ImagenesIpad1parte/Ipad3_1.jpg">
                                        <img src="../../assets/ImagenesIpad1parte/Ipad3_1.jpg">
                                    </picture></a>
                          
                        </div>
                    </div>
 
</div>
<div class="col-12">
    <div class="row">
        <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad4.jpg"></a>
                </div>
                <div class="row">
        
                </div>
                <div class="row">
        
                </div>
</div>
  
</div>
