<!--Primera parte de Ipad by Jorge Resendiz Sanchez-->
<div class="col-12">

  <div  class="col-12 Ipad1">
        <div class="row">
<a href=""><img src="../../assets/ImagenesIpad1parte/Ipad1.jpg"></a>
        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
  </div>

<div class="col-12">
    <div class="row">
        <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad2.jpg"></a>
                </div>
                <div class="row">
        
                </div>
                <div class="row">
        
                </div>
</div>
<div class="col-12">
  <div class="col-6">
    <div class="row">
        
                </div>
                <div class="row">
        
                </div>
                <div class="row">
          <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad1.jpg"></a>
                  </div>
  </div>
  <div class="col-6">
      <div class="row">
        
        </div>
        <div class="row">

        </div>
        <div class="row">
          <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad1.jpg"></a>
          </div>
  </div>
</div>

<div class="col-12">
    <div class="row">
        <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad1.jpg"></a>
                </div>
                <div class="row">
        
                </div>
                <div class="row">
        
                </div>
</div>
  
</div>
