<!--Primera parte de Ipad by Jorge Resendiz Sanchez-->



    <div class="container-fluid justify-content  fondo borde ">
        <div class="row">
  <div  class="col-12 col-md-12 col-lg-12 Ipad1">
        <div class="row d-flex justify-content-center">
                <div  class="col-12 col-md-12 col-lg-12 Ipad1">
         <div class=" d-flex justify-content-center tituloP">iPad</div>   <br>
         <div class=" d-flex justify-content-center letras"> Es como una computadora, </div>  <br>
         <div class=" d-flex justify-content-center letras"> pero como ninguna otra computadora. </div><br>
            </div>    
        </div>
        <div class="row  d-flex justify-content-center">
                <div  class="col-12 col-md-12 col-lg-12">
              <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href="">&nbsp;&nbsp;&nbsp;   Comprar ></a></div>
           
        </div>
        </div>
        <div class="row  d-flex justify-content-center cursor">
                <div  class="col-12 col-md-12 col-lg-12 d-flex justify-content-center">
            <picture class="d-flex justify-content-center ">
                <source srcset="../../assets/ImagenesIpad1parte/Ipad1_1chico.jpg" media="(max-width: 710px)">
                    <source  srcset="../../assets/ImagenesIpad1parte/Ipad1_2Mediana.png" media="(min-width: 710px) and (max-width: 1000px)">
                <source srcset="../../assets/ImagenesIpad1parte/Ipad1.jpg">
                <img src="../../assets/ImagenesIpad1parte/Ipad1.jpg">
              </picture>

        </div>
    </div>
  </div>
</div>
</div>



        <div class="container-fluid justify-content fondo borde">
            <div class="row">
                <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                        <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                                <div class="row d-flex justify-content-center">
                                        <div  class="col-12 col-md-12 col-lg-12 Ipad1">
                                 <div class=" d-flex justify-content-center tituloP">iPad Pro</div>   <br>
                                 <div class=" d-flex justify-content-center"> Es como una computadora, </div>  <br>
                                 <div class=" d-flex justify-content-center">  pero como ninguna otra computadora. </div><br>
                                    </div>    
                                </div>
                                <div class="row  d-flex justify-content-center">
                                        <div  class="col-12 col-md-12 col-lg-12">
                                      <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href=""> &nbsp;&nbsp;&nbsp;  Comprar ></a></div>
                                   
                                </div>
                                </div>
                <div class="row d-flex justify-content-center">
                        <a href=""><picture class="d-flex justify-content-center ">
                                <source srcset="../../assets/ImagenesIpad1parte/Ipad2_2.jpg" media="(max-width: 710px)">
                                    <source  srcset="../../assets/ImagenesIpad1parte/Ipad2_1.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                <source srcset="../../assets/ImagenesIpad1parte/Ipad2.jpg">
                                <img src="../../assets/ImagenesIpad1parte/Ipad2.jpg">
                              </picture></a>
                        
                </div>
</div>
</div>
</div>
</div>
    <div class="row">

   
                    
                            <div class="col-md-6 d-flex justify-content-center fondo borde">
                                
                               
                                    <div class="col-md-11 d-flex justify-content-center">
                                            <div class="row justify-content">
                                                          
                                    <div class="col-md-11 d-flex justify-content-center">
                                            <div class="row d-flex justify-content-center">
                                                            <div class="d-flex justify-content-center tituloP"> Apple Pencil </div> <br>
                                                        </div></div>
                                                        <div class="col-md-11 d-flex justify-content-center">
                                                                <div class="row d-flex justify-content-center">
                                                      <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href=""> &nbsp;&nbsp;&nbsp; Comprar ></a></div><br>
                                                  
                                                                
                                            <a href=""><picture class="d-flex justify-content-center">
                                                    <source srcset="../../assets/ImagenesIpad1parte/Ipad3_2Chica.jpg" media="(max-width: 710px)">
                                                        <source  srcset="../../assets/ImagenesIpad1parte/Ipad3_1Chica.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                                    <source srcset="../../assets/ImagenesIpad1parte/Ipad3.jpg">
                                                    <img  src="../../assets/ImagenesIpad1parte/Ipad3.jpg">
                                                </picture></a>
                                            </div></div>
                       
                              
                            
                                  </div>
                        </div>
                                   <div class="col-md-1">

                                   </div>
                              </div> 
                                  
                    
                         
                        
                    <div class="col-12 col-md-6 col-lg-6  d-flex justify-content-center fondo borde">
                        
                                <div class="col-md-1">

                                </div>



                                <div class="col-12 col-md-11 col-lg-11 margenesImg d-flex justify-content-center">
                                        
                                                <div class="col-12 col-md-11 col-lg-11 d-flex justify-content-center">
                                                        <div class="row justify-content">

                                <a href=""><picture class=" d-flex justify-content-center margenesImg">
                                        <source srcset="../../assets/ImagenesIpad1parte/Ipad3_3Lap.jpg" media="(max-width: 710px)">
                                            <source  srcset="../../assets/ImagenesIpad1parte/Ipad3_2Lap.jpg" media="(min-width: 710px) and (max-width: 1000px)">
                                        <source srcset="../../assets/ImagenesIpad1parte/Ipad3_1.jpg">
                                        <img src="../../assets/ImagenesIpad1parte/Ipad3_1.jpg">
                                    </picture></a>
                                
                                <div class="col-md-11 d-flex justify-content-center">
                                        <div class="row d-flex justify-content-center">
                                             <div class=" d-flex justify-content-center tituloP" >   {{tituloIpanParte32}} </div><br>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-11 col-lg-11 d-flex justify-content-center">
                                                <div class="d-flex justify-content-center">
                                             <div class=" d-flex justify-content-center"><a href="">Más informació>   </a><a href=""> &nbsp;&nbsp;&nbsp;  Comprar ></a></div><br>
                                            </div>
                                        </div>
                            </div></div></div>
                </div>
                
 

            </div>
            <div class="container ">
<div class="col-md-12 fondo">
    <div class="row">

            <div class="col-md-6 d-flex justify-content-center">
                                
                               
                    <div class="col-md-12 d-flex justify-content-center">
                            <div class="row justify-content">

        <a href=""><img src="../../assets/ImagenesIpad1parte/Ipad4.jpg"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center d-flex align-items-center fondo">
                             <div class="row d-flex align-items-center">   
                               
                <div class="col-md-12 d-flex justify-content-center d-flex align-items-center">
                        <div class="row justify-content d-flex align-items-center">
                                <div class=" d-flex justify-content-center d-flex align-items-center tituloP" >   {{tituloIpanParte4}} </div><br>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center d-flex align-items-center">
                            <div class="row justify-content d-flex align-items-center">
                                    <div class=" d-flex justify-content-center d-flex align-items-center tituloP" >   {{tituloIpanParte41}} </div><br>
                            </div>
                        </div>
                    <div class="col-12 col-md-11 col-lg-11 d-flex justify-content-center d-flex align-items-center">
                            <div class="row justify-content d-flex align-items-center">

                         <div class=" d-flex justify-content-center d-flex align-items-center"><a href="">&nbsp;&nbsp;Encuentra el Ipad perfecto para ti ></a></div><br>
                        </div>
                    </div>
                </div>
            </div>
</div>

</div>
</div>
  

