
.blanco{
width: 100rem;
background-color: white;
}
img{
 
    margin: 5rem 0rem 0rem 0rem;

}
    .max{

        max-width: 30rem;
    }
    .margenesImg{
       
        background-color: #FAFAFA;

    }
    .fondo{
        background-color: #FAFAFA;  
    }
    .borde{
        border:white .4rem solid;;
    }
    .cursor{
        cursor: pointer;
    }
    .tituloP{
font-size: 4rem;
font-stretch: expanded;
font-weight:15rem;
color: #333333;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
    }
    .letras{
        font-size: 2.4rem; 
        font-weight: 15rem;
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
        line-height: .8em;

    }
    @media (max-width: 710px) {
        .chicasLetras {
            font-size: 1.4rem; 
            font-weight: 10rem;
            color: #333333;
            font-family: Arial, Helvetica, sans-serif;
            line-height: .8em;
        }

      }
      @media (max-width: 710px) {
        .tituloPchic {
            font-size: 2.5rem;
            font-stretch: expanded;
            font-weight:15rem;
            color: #333333;
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
        }

      }
      .linkx{
        font-size: 1.6rem; 
      }
      @media (max-width: 710px) {
        .linkxChic {
            font-size: 1.2rem;
            
        }

      }

     

    /*
    .primeraImage{
        position: absolute;
        width: 100px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
        
 
    
     @media only screen and (min-width: 1000px)  {
        .mediana{
            padding: 0rem 0rem 1rem 0rem;
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
    }*/