<div class="foto1">
  <img src="../../assets/paginaprincipalfoto1.PNG" class="responsive">
</div>


<picture>
  <source media="(min-width: 650px)" srcset="../../assets/iPhoneX.jpg">
  <source media="(min-width: 465px)" srcset="../../assets/foto4.png">
  <img src="../../assets/paginaprincipalfoto3.png" alt="ipad2" class="responsive">
</picture>





<picture>
  <source media="(min-width: 650px)" srcset="../../assets/ipad.PNG">
  <source media="(min-width: 465px)" srcset="../../assets/ipad_small.jpg">
  <img src="../../assets/ipad_small.jpg" alt="ipad2" class="responsive">
</picture>

<div class="container-fluid">
  <div class="row col1">
    <div class="col-12 col-md-6">
      <img src="../../assets/Captura1.PNG" alt="ipad2" class="responsive">
       </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/Captura2.PNG" alt="ipad2" class="responsive">
    </div>
  </div>

  <div class="row col2">
    <div class="col-12 col-md-6">
      <img src="../../assets/Captura3.PNG" alt="ipad2" class="responsive">
       </div>
    <div class="col-12 col-md-6">
      <img src="../../assets/Captura4.PNG" alt="ipad2" class="responsive">
    </div>
  </div>

</div>