<div class="container-fluid" onload="hola()">
  <div id="barrita_ipad" class="row">
   
      <img src="../../assets/img/ipadBar/ipadpro_light_large.svg" alt="ipadpro_light_large">
      <img src="../../assets/img/ipadBar/ipad_large.svg" alt="ipad_large">
      <img src="../../assets/img/ipadBar/ipadmini_large.svg" alt="ipadmini_large">
      <img src="../../assets/img/ipadBar/ipad_ios10_large.svg" alt="ipad_ios10_large">
      <img src="../../assets/img/ipadBar/ipad_acc_large.svg" alt="ipad_acc_large">
      <img src="../../assets/img/ipadBar/ipad_comp_large.svg" alt="ipad_comp_large">
  </div>
</div>

<script>
    function hola(){document.write("Hello World!");}
    </script>