<div class="container-fluid fondito">
  <div id="barrita_ipad" class="row justify-content-center flex-nowrap overflow ml-1">
   
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipadpro_light_large.svg" alt="ipadpro_light_large">
          <p class="nombre_item">iPad Pro</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_large.svg" alt="ipad_large">
          <p class="nombre_item">iPad</p>
          <p class="nuevo">Nuevo</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipadmini_large.svg" alt="ipadmini_large">
          <p class="nombre_item">iPad mini 4</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_ios10_large.svg" alt="ipad_ios10_large">
          <p class="nombre_item">iOS 11</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_acc_large.svg" alt="ipad_acc_large">
          <p class="nombre_item">Accesorios</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_comp_large.svg" alt="ipad_comp_large">
          <p class="nombre_item">Comparar</p>
        </a>
        </div>
  </div>
</div>