.nuevo{
    color: red;
    font-size: 9px;
    margin: 0px;
    padding: 0px;
}
.nombre_item{
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}
.fondito{
    background-color: rgba(242,242,242,0.7);
}
.ligas{
    text-decoration: none;
    color: black;
}
.ligas:hover{
color: rgb(8, 84, 206);
}
.overflow{
    overflow: auto;
    white-space: nowrap;
    /*Para ocultar el scrolling horizontal y suar los botones con jquery
    overflow-x: hidden;*/
}
@media only screen and (max-width: 400px) {
    #barra_ipad {
        padding-left: 100px;
    }
}
