<div class="container-fluid fondito">
  <div id="barra_ipad" class="row justify-content-center flex-nowrap overflow" >
   
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipadpro_light_large.svg" alt="ipadpro_light_large">
          <p class="nombre_item">{{barra_ipad.item1}}</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_large.svg" alt="ipad_large">
          <p class="nombre_item">{{barra_ipad.item2}}</p>
          <p class="nuevo">{{nuevo}}</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipadmini_large.svg" alt="ipadmini_large">
          <p class="nombre_item">{{barra_ipad.item3}}</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_ios10_large.svg" alt="ipad_ios10_large">
          <p class="nombre_item">{{barra_ipad.item4}}</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_acc_large.svg" alt="ipad_acc_large">
          <p class="nombre_item">{{barra_ipad.item5}}</p>
        </a>
        </div>
      <div class="col-auto text-center d-inline-block">
          <a class="ligas" href="#">
          <img src="../../assets/img/ipadBar/ipad_comp_large.svg" alt="ipad_comp_large">
          <p class="nombre_item">{{barra_ipad.item6}}</p>
        </a>
        </div>
        <button class="boton_der">&lt;</button>
        <button class="boton_izq">&gt;</button>
  </div>
</div>